.blog__item-info{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 44px 30px;
}
.blog__item-list{
    gap: 22px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,455px);
}
.blog__item-classif{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.blog__item-type{
    width: min-content;
    padding: 4px 7px;
    height: 23px;
    margin-right: 5px;
    background-color: white;
    border-radius: 2px;
    color: #7AC751;
    font-size: 12px;
}
.blog__item-type-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 100%;
    font-weight: 500;
}
.blog__item-type-text::before{
    content: '';
    display: block;
    background: url(/img/Group.svg);
    width: 13px;
    height: 13px;
    margin-right: 6px;
}
.blog__item{
    font-family: 'Mulish', sans-serif;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.blog-link{
    color: white;
}
.blog__name{
    margin-bottom: 20px;
    font-size: 39px;
    font-weight: 600;
}
.blog__details{
    font-size: 14px;
    font-weight: 500;
}
.blog__item-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.blog__item-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}