footer{
    margin-top: 115px;
}
.footer__content-top{
    border-bottom: 1px solid rgba(150, 150, 150,0.3);
    height: 100%;
    width: 100%;
}
.footer__content-bottom{
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #555555;
}
.footer__content-bottom .container{
    display: flex;
    justify-content: space-between;
}
.footer__about{
    width: 306px;
}
.footer__content-top .container{
    display: flex;
}
.footer__column{
    height: 200px;
    width: min-content;
}