*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #555555;
}
p,h1{
    margin: 0;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}
/* Header */
select{
    outline: none;
    border-color: white;
}
.header__top-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.lang__switcher{
    border-color: #7AC751;
    background-color: #7AC751;
    color: white;
    outline: none;
    position: relative;
}
.authorization-wrap{
    display: flex;
}
.separator{
    display: block;
    height: 19px;
    width: 2.2px;
    margin: 0 20px;
}
.header__top{
    height: 50px;
    background-color: #7AC751;
    color: white;
}
.header__middle{
    height: 92px;
    display: flex;
    align-items: center;
}
.header__middle-container{
    display: flex;
    height: 100%;
    align-items: center;
}
.logo{
    width: 260px;
}
.search{
    border: 2px solid #7AC751;
    width: 582px;
    height: 46px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
.search__input{
    width: 100%;
    outline: none;
    border: none;
    height: 100%;
    padding: 15px 25px;
}
.nav__aside-icon{
    display: flex;
    background-color: #7AC751;
    width: 260px;
    align-items: center;
    justify-content: center;
    color: white;
    flex-shrink: 0;
}
.trending__item-sticker{
    font-family: 'Mulish', sans-serif;
    position: absolute;
    width: 45px;
    height: 20px;
    border-radius: 0 0 5px 0;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticker-new{
    background-color: #00B7F1;
}
.sticker-sale{
    background-color: #7AC751;
}
.sticker-discount{
    background-color: #FF6868;
}
.nav__aside-burger{
    width: 24px;
    height: 17px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.nav__aside-burger-el, .nav__aside-burger-el::after, .nav__aside-burger-el::before{
    background-color: white;
    height: 2.5px;
    display: block;
    border-radius: 2px;
}
.nav__aside-burger-el{
    width: 100%;
}
.nav__aside-burger-el::after{
    content: '';
    width: 58%;
    position: absolute;
    top: 7px;
}
.nav__aside-burger-el::before{
    content: '';
    width: 33%;
    top: 14px;
    position: absolute;
}
.search__select-wrap{
    height: 100%;
    margin-right: 21px;
    
}
.search__select{
    height: 100%;
    border-left: 2px solid #E3E3E3;
    width: 120px;
    padding-left: 10px;
}
.search__img-wrap{
    width: 55px;
    flex-shrink: 0;
    background: #7AC751;
    height: 100%;
}

.profile__menu{
    width: 120px;
    height: min-content;
    display: flex;
    align-items: center;
}
.association{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
.menu__item{
    margin-left: 21px;
}
.menu__item:first-child{
    margin: 0;
}
.row__nav{
    height: 67px;
    background-color: #F7F8FA;
}
.row__nav-container{
    display: flex;
    height: 100%;
}
.row__nav-list{

    align-items: center;
    justify-content: center;
    height: 67px;
    display: flex;
}
.row__nav-item{
    margin-left: 65px;
}
.row__nav-item:first-child{
    margin-left: 82px;
}
.column__nav{
    width: 260px;
}
.column__nav-list{
    width: 100%;
    background-color: #F7F8FA;
}
.column__nav-item{
    border-bottom: 2px solid #E3E3E3;
    width: 260px;
    height: 41px;
    padding-left: 28px;
    display: flex;
    align-items: center;
}
.main__container{
    display: flex;
}
.header__content{
    width: 100%;
    background-color: #F1FAFF;
    margin-top: 12px;
    margin-left: 12px;
}
.header__baner{
    border-radius: 1px;
    padding-right: 39px;
    padding-left: 47px;
    display: flex;
    height: 100%;
    width: 100%;
}
.header__baner-text {
    width: 318px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header__baner-collection {
    font-size: 22px;
    margin-bottom: 6px;
    color: #7AC751;
}
.header__baner__title {
    margin-bottom: 26px;
    color: #2F2F2F;
    font-weight: 500;
    font-size: 40px;
}
.header__baner-discount {
    font-weight: 400;
    font-size: 27px;
    color: #515151;
    margin-bottom: 35px;
}
.header__baner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    background-color: #7AC751;
    color: white;
    width: 129px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.title-span{
    position: relative;
}
.title-span::after{
    content: "";
    position: absolute;
    background: url(/img/Frame.png);
    width: 100%;
    height: 11px;
    display: block;
    bottom: 0;
    right: 0;
    margin-top: 4px;
}
.circle{
    border-radius: 50%;
    background-color: rgba(122, 199, 81,0.29);
    width: 12px;
    height: 12px;
    bottom: 0;
    margin-right: 15px;
}
.circle:last-child{
    margin-right: 0;
    margin-left: 15px;
}
.circle-active{
    background: #7AC751;
    height: 100%;
    width: 24px;
    border-radius: 6px;
}
.header__baner-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.circle-list{
    display: flex;
}
.similar-products-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.similar__item {
    background-color: white;
    width: 98px;
    height: 91px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
.similar__img {
    text-align: center;
}
.similar__price {
    font-size: 11px;
    font-weight: 550;
    color: #7AC751;
}
.similar__description {
    font-size: 7px;
    font-weight: 500;
    color: #555555;
}
/* Main */
.feature{
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.offer__list{
    height: 511px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.offer__item{
    width: 485px;
    height: 247px;
    padding: 49px 24px;
}
.offer__title{
    margin-bottom: 10px;
    font-size: 20px;
    color: #555555;
    font-weight: 400;
}
.offer__item--big .offer__title{
    font-weight: 600;
}
.offer__price{
    font-size: 20px;
    font-weight: 400;
    color: #7AC751;
    margin-bottom: 13px;
}
.offer__details{
    color: #757575;
    position: relative;
}
.offer__details::after{
    content: '';
    display: block;
    background-image: url(/img/star.png);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 85px;
}
.offer__price-span{
    font-weight: 700;
    font-size: 20px;
}
.offer__item--big{
    padding: 49px 31px;
    background: url(/img/Mask\ Group.svg);
    height: 100%;
    flex: 1 1 auto;
}
.offer__small-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.item-top{
    background: url(/img/Rectangle\ 33.svg) no-repeat;
}
.item-bottom{
    background: url(/img/Rectangle\ 34.png);
}
/* Trending */
.title{
    margin-bottom: 45px;
    font-size: 36px;
    font-weight: 600;
    color: #555555;
    text-align: center;
    margin-top: 120px;
}
.trending__category{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 75px;
}
.category__item{
    margin-left: 70px;
    color: #C2C2C2;
    font-size: 24px;
    font-weight: 400;
}
.category__item:first-child{
    margin-left: 0;
    
}
.selected{
    color: #7AC751;
}
.trending-first-row .trending__item:last-child{
    margin-right: 0;
}
.trending__item{
    height: 387px;
    width: 270px;
    grid-column: span 3;
}
.trending-first-row{
    margin-bottom: 45px;
    display: flex;
}
.trending-two-row{
    display: flex;
}
.trending__list{
    display: grid;
    column-gap: 30px;
    row-gap: 45px;
    grid-template-columns: repeat(12, auto);
}
.trending__item-type {
    margin-bottom: 7px;
    margin-top: 15px;
    font-size: 14px;
    color: rgba(117, 117, 117,0.71);
    
}
.trending__img-wrap{
    position: relative;
    transition: 2s all;
    overflow: hidden;
    height: 287px;
}
.feature__hover-item{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: white;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.feature__hover-list{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 7px;
}
.trending__item-name {
    margin-bottom: 15px;
    font-size: 20px;
    color: #555555;
}
.prices {
    display: flex;
    font-size: 18px;
}
.trending__feature-hover{
    overflow: hidden    ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(102,102,102,0.4);
    width: 0%;
    transition: 1s all;
}
.trending__img-wrap:hover .trending__feature-hover{
    width: 100%;
    /* padding: 15px; */
}
.feature__hover-item:hover{
    background-color: #7AC751;
}
.feature__hover-item:hover path{
    fill: white;
}
.trending__item-footer{
    display: flex;
    justify-content: space-between;
}
.trending__item-price {
    margin-right: 9px;
    color: #7AC751;
    font-weight: 600;
}
.trending__item-old-price {
    font-weight: 400;
    color: #CCCCCC;
    text-decoration: line-through;
}
.trending__rating{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    text-align: end;
}
.trending__item-description{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trending__flipper-wrap{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}
.trending__flipper{
    border-color: #CCCCCC;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 4px solid #CCCCCC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    cursor: pointer;
}
.trending__flipper:last-child{
    margin-right: 0;
}
.trending .selected{
    border-color: #7AC751;
}
.flipper__inner{
    border: 4px solid;
    border-radius: 50%;
    flex-shrink: 0;
    border-color: inherit;
}
/* Special Offers */

.special-offers {
}
.container {
}
.title {
}
.special-offer__item-content{
    height: 100%;
    width: 227px;
}
.special-offers__list {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.special-offer__item {
    font-family: 'Mulish', sans-serif;
    padding: 28px 24px;
    background-size: cover;
    position: relative;
}
.special-offer__item:nth-child(1){
    background-image: url(/img/offer__background.png);
}
.special-offer__item:nth-child(2){
    background-image: url(/img/sp-offer-2.png);
}
.special-offer__item .trending__item-sticker {
    border-radius: 0 0 0 5px;
    width: 64px;
    height: 23px;
    font-size: 12px;
    top: 0;
    right: 0;
}
.sticker-new {
}
.special-offer__item .trending__item-name {
    margin-bottom: 11px;
    font-size: 22px;
    font-size: 500;
}
.special-offer__item-description {
    color: #757575;
    margin-bottom: 23px;
    font-size: 12px;
}
.special-offer__item .prices {
    margin-bottom: 31px;
}
.trending__item-price {
}
.trending__item-old-price {
    margin-right: 20px;
}
.special-offer__item .header__baner-button {
    border: none;
    font-size: 12px;
    width: 91px;
    height: 26px;
    border-radius: 2px;
}
.special-offer__time {
    display: flex;
}
.time__item {
    text-align: center;
    background-color: #7AC751;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-right: 18px;
}
.time__item-type{
    margin-top: 3px;
    font-size: 6px;
}
.time__item-number{
    font-size: 14px;
    font-weight: 600;
}
/* Our Products */
.our-products__item{
    height: 387px;
    width: 270px;
    grid-column: span 3;
}
.our-products__list{
    display: grid;
    column-gap: 30px;
    row-gap: 45px;
    grid-template-columns: repeat(12, auto);
}
.our-products__item-type {
    margin-bottom: 7px;
    margin-top: 15px;
    font-size: 14px;
    color: rgba(117, 117, 117,0.71);
    
}
.our-products__img-wrap{
    position: relative;
    transition: 2s all;
    overflow: hidden;
    height: 287px;
}
.our-products__item-name {
    margin-bottom: 15px;
    font-size: 20px;
    color: #555555;
}
.trending__item-footer{
    display: flex;
    justify-content: space-between;
}
.trending__item-price {
    margin-right: 9px;
    color: #7AC751;
    font-weight: 600;
}
.trending__item-old-price {
    font-weight: 400;
    color: #CCCCCC;
    text-decoration: line-through;
}
.trending__rating{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    text-align: end;
}
.our-products__item-description{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page__flipper {
    align-items: center;
    margin-top: 50px;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.page__flipper-button {
    cursor: pointer;
    color: white;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-right: 143px;
    background-color: #7AC751;
    height: 100%;
    width: 161px;
}
.page__flipper-button::after{
    content: '';
    display: block;
    background: url(/img/button-arrow.svg);
    width: 14px;
    height: 12px;
    margin-left: 10px;
}
.page__flipper-counter {
    color: #757575;
}
.counter__input{
    text-align: center;
    margin-left: 9px;
    margin-right: 19px;
    height: 29px;
    background-color: #F8FAFB;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    color: #757575;
    width: 58px;
    outline: none;
}
.page__flipper-arrows {
    display: flex;
    width: 58px;
    height: 29px;
    margin-left: 23px;
    background-color: #7AC751;
    border-radius: 2px;
}
.arrow__left {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.arrow__right {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

